@import url("https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  html {
    font-family:
      "Geist",
      system-ui,
      -apple-system,
      sans-serif;
  }
}
